Repository redhat-openstack/rdoinfo: changes, and which Zuul jobs are due for each by the changed paths.
All: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria, distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

.zuul.yaml:

- project:
    check:
      jobs:
        - distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria:
            dependencies:
              - rdoinfo-DLRN-check-centos8
            voting: false
            files:
              - ^tags/victoria.yml$
        - distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri:
            dependencies:
              - rdoinfo-DLRN-check-centos8
            voting: false
            files:
              - ^tags/ussuri.yml$

WIP Bump cinder-tempest-plugin to 1.4.0 (victoria, ussuri, train)
  .zuul.yaml
  tags/train.yml
  tags/ussuri.yml
  tags/victoria.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria, distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

New project: glean
  rdo.yml
  tags/under-review.yml
Due: none

Bump tempest to 26.1.0 in Victoria
  tags/victoria.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria

Update notes for submitted changes
  09/dc357d08fc67a74d547addf73dcb854cf2b3d0
Due: none

Pin sushy-oem-idrac in ussuri
  tags/ussuri.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

Update notes for submitted changes
  6c/a62d65e25111589f4d8a56c21867f834a561e8
Due: none
