Repository redhat-openstack/rdoinfo: changes, and which Zuul jobs are due for each by the changed paths.
All: distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-base, distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-train, distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-stein

distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-base:
  dependencies:
  - rdoinfo-DLRN-check
  voting: false

distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-train:
  dependencies:
  - rdoinfo-DLRN-check
  voting: false

distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-stein:
  dependencies:
  - rdoinfo-DLRN-check
  voting: false

Update notes for submitted changes
  55/6b9b828f38e03e66b1ce97e1bd089887107c8e
Due: none

Update notes for submitted changes
  33/e48b601d147db79dd8222b1b1a470440eccc5c
Due: none

Promote CBS tags update for rocky-release
  buildsys-tags/cloud7-openstack-rocky-release.yml
Due: none

Pin tobiko for Train release
  tags/train.yml
Due: distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-train

Update notes for submitted changes
  57/07ae71c592f9a9333e23a258e85fed4cdda7c5
Due: none

WIP Bump cinder-tempest-plugin 0.3.1 up to train
  .zuul.yaml
  tags/train.yml
  tags/ussuri-uc.yml
Due: distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-base, distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-train

Bump cinder-tempest-plugin 0.3.1 up to train
  tags/train.yml
  tags/ussuri-uc.yml
Due: distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-base, distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-train

Promote CBS tags update for train-release
  buildsys-tags/cloud7-openstack-train-release.yml
Due: none

Update notes for submitted changes
  5f/145c7634aa17b3f8e6fe28fd484049d1207a93
Due: none

Update notes for submitted changes
  c3/15e84cbfee356e8d514aa9a711bde2262fb767
Due: none

Promote CBS tags update for train-testing
  buildsys-tags/cloud7-openstack-train-testing.yml
Due: none

Update notes for submitted changes
  ee/bacffc82a719eadfb64526fcde1d57c9da09f4
Due: none

Update notes for submitted changes
  e1/c8ea11a02d9ccdf180f65afce77d7e06fa06db
Due: none

[DNM] Detect running tests in rocky/queens with older tempestconf
  .zuul.yaml
  tags/queens.yml
  tags/rocky.yml
Due: none

[DNM] Test container build job via kolla/tripleoclient rpms
  .zuul.yaml
  buildsys-tags.yml
  buildsys-tags/cloud7-openstack-ussuri-testing-kombu.yml
Due: none

Rebuild OVN package from Fedora
  buildsys-tags/cloud7-openstack-train-candidate.yml
Due: none

Bump rdoinfo train tags to latest upper-constraints
  tags/train.yml
Due: distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-train

Update notes for submitted changes
  15/72468b75ac24f128ab75a3564d1dcad6539913
Due: none

Update notes for submitted changes
  19/d682304002906a601323ff4a1f2a009f217658
Due: none

Update notes for submitted changes
  16/a6b3021bb0c0a11a1ea8e118eff754de4334e4
Due: none

Pin horizon and nova in Ussuri
  tags/ussuri-uc.yml
Due: distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-base

Update notes for submitted changes
  4a/eeda24a9127af96e807733e6a0c53d00d4781d
Due: none

Bump rdoinfo rocky tags to latest upper-constraints
  tags/rocky.yml
Due: none

Bump rdoinfo stein tags to latest upper-constraints
  tags/stein.yml
Due: distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-stein

Bump rdoinfo ussuri-uc tags to latest upper-constraints
  tags/ussuri-uc.yml
Due: distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-base

Update notes for submitted changes
  c0/a802db39b469ebdee3f87bad72eff63f4245f5
Due: none

Update notes for submitted changes
  b3/a4c304df06181f3b0bbbff61b11ec39c427ddd
Due: none

Path conditions:
  distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-base: any of: ^tags/ussuri.*.yml$
  distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-train: any of: ^tags/train.yml$
  distgit-test-tripleo-ci-centos-7-multinode-1ctlr-featureset020-stein: any of: ^tags/stein.yml$
