Repository redhat-openstack/rdoinfo: changes, and which Zuul jobs are due for each by the changed paths.
All: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria, distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

.zuul.yaml:

- project:
    check:
      jobs:
        - distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria:
            dependencies:
              - rdoinfo-DLRN-check-centos8
            voting: false
            files:
              - ^tags/victoria.yml$
        - distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri:
            dependencies:
              - rdoinfo-DLRN-check-centos8
            voting: false
            files:
              - ^tags/ussuri.yml$

Bump barbican-tempest-plugin to 1.2.1 in V and U
  tags/ussuri.yml
  tags/victoria.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria, distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

Bump tempest to 26.1.0 in Ussuri
  tags/ussuri.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

Bump rdoinfo wallaby-uc tags to latest upper-constraints
  tags/wallaby-uc.yml
Due: none

Promote CBS tags update for train-8-release
  buildsys-tags/cloud8-openstack-train-release.yml
Due: none

Promote CBS tags update for ussuri-8-release
  buildsys-tags/cloud8-openstack-ussuri-release.yml
Due: none

Promote CBS tags update for train-testing
  buildsys-tags/cloud7-openstack-train-testing.yml
Due: none

Promote CBS tags update for train-8-testing
  buildsys-tags/cloud8-openstack-train-testing.yml
Due: none

Promote CBS tags update for train-8s-testing
  buildsys-tags/cloud8s-openstack-train-testing.yml
Due: none
