Repository redhat-openstack/rdoinfo: changes, and which Zuul jobs are due for each by the changed paths.
All: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria, distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

.zuul.yaml:

- project:
    check:
      jobs:
        - distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria:
            dependencies:
              - rdoinfo-DLRN-check-centos8
            voting: false
            files:
              - ^tags/victoria.yml$
        - distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri:
            dependencies:
              - rdoinfo-DLRN-check-centos8
            voting: false
            files:
              - ^tags/ussuri.yml$

Rebase puppet-rabbitmq to v10.1.2 in T/U/V (and puppet-systemd on T/U)
  tags/train.yml
  tags/ussuri.yml
  tags/victoria.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria, distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

Update notes for submitted changes
  40/b052a6c2197170dc6009a2ebae48ed55bc557e
Due: none

Update notes for submitted changes
  b5/57969a784cf6b4b41e8bd2036d07ea4286b692
Due: none

Promote CBS tags update for ussuri-8-release
  buildsys-tags/cloud8-openstack-ussuri-release.yml
Due: none

New project: glean
  rdo.yml
  tags/under-review.yml
Due: none

Update notes for submitted changes
  2e/a319c3ca33527c8752f3f16575a4b02d0fa8b4
Due: none

Bump tempest to 26.1.0 in Ussuri
  tags/ussuri.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

WIP Bump barbican-tempest-plugin to 1.2.1 in V and U
  .zuul.yaml
  tags/ussuri.yml
  tags/victoria.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria, distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

WIP Bump cinder-tempest-plugin to 1.4.0 (victoria, ussuri, train)
  .zuul.yaml
  tags/train.yml
  tags/ussuri.yml
  tags/victoria.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria, distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri
