Repository redhat-openstack/rdoinfo: changes, and which Zuul jobs are due for each by the changed paths.
All: distgit-tripleo-master-testing-centos-9-standalone-full-temepst-scenario, distgit-tripleo-ci-centos-9-standalone-full-tempest-scenario-wallaby

.zuul.yaml:

- project:
    check:
      jobs:
        - distgit-tripleo-master-testing-centos-9-standalone-full-temepst-scenario:
            dependencies:
              - rdoinfo-DLRN-check-centos9
            voting: false
            files:
              - ^tags/yoga-uc.yml$
        - distgit-tripleo-ci-centos-9-standalone-full-tempest-scenario-wallaby:
            dependencies:
              - rdoinfo-DLRN-check-centos9
            voting: false
            files:
              - ^tags/wallaby.yml$

Bump rdoinfo victoria tags to latest upper-constraints
  tags/victoria.yml
Due: none

Update patch set 5
  f0c0bba4da6b03a2d6c7508b8e16808c77dc71db
Due: none

Pin tempest for Wallaby and Xena
  tags/wallaby.yml
  tags/xena.yml
Due: distgit-tripleo-ci-centos-9-standalone-full-tempest-scenario-wallaby

Update notes for submitted changes
  0a/2c497539f5ea3c793e729e3a902c48cf0e6c57
Due: none

Bump rdoinfo wallaby tags to latest upper-constraints
  tags/wallaby.yml
Due: distgit-tripleo-ci-centos-9-standalone-full-tempest-scenario-wallaby

Bump rdoinfo yoga-uc tags to latest upper-constraints
  tags/yoga-uc.yml
Due: distgit-tripleo-master-testing-centos-9-standalone-full-temepst-scenario
