Repository redhat-openstack/rdoinfo: changes, and which Zuul jobs are due for each by the changed paths.
All: distgit-tripleo-victoria-testing-centos-8-undercloud-containers, distgit-tripleo-ussuri-testing-centos-8-undercloud-containers, distgit-tripleo-train-testing-centos-8-undercloud-containers

distgit-tripleo-victoria-testing-centos-8-undercloud-containers:
  parent: distgit-tripleo-master-testing-centos-8-undercloud-containers
  override-checkout: stable/victoria
  vars:
    branch_override: stable/victoria
    release: victoria

distgit-tripleo-ussuri-testing-centos-8-undercloud-containers:
  parent: distgit-tripleo-master-testing-centos-8-undercloud-containers
  override-checkout: stable/ussuri
  vars:
    branch_override: stable/ussuri
    release: ussuri

distgit-tripleo-train-testing-centos-8-undercloud-containers:
  parent: distgit-tripleo-master-testing-centos-8-undercloud-containers
  override-checkout: stable/train
  vars:
    branch_override: stable/train
    release: train

Add oslo-metrics project
  rdo.yml
  tags/under-review.yml
Due: none

Update notes for submitted changes
  20/ca2346a9050c0227b30cc8889c10bddfff4fae
Due: none

Promote CBS tags update for train-8-testing
  buildsys-tags/cloud8-openstack-train-testing.yml
Due: none

Update notes for submitted changes
  39/3c8f0571453964efb5cf582ecbf40af8729530
Due: none

Promote CBS tags update for ussuri-8-testing
  buildsys-tags/cloud8-openstack-ussuri-testing.yml
Due: none

Update notes for submitted changes
  da/5e0eba2ff08d823a51383c602a38b724d7ea71
Due: none

Promote dependencies updates to wallaby-testing
  buildsys-tags/cloud8-openstack-wallaby-el8-build.yml
  buildsys-tags/cloud8-openstack-wallaby-testing.yml
Due: none

Add sushy-tools project
  rdo.yml
  tags/under-review.yml
Due: none

Update maintainer info for networking-arista
  rdo.yml
Due: none

Update notes for submitted changes
  ae/729f564f42c06ec3863a6b3d17812411306c36
Due: none

Promote CBS tags update for ussuri-8-release
  buildsys-tags/cloud8-openstack-ussuri-release.yml
Due: none

Update notes for submitted changes
  ec/49f67d8521179496ab635b48753bfbfef03a32
Due: none

Update notes for submitted changes
  1d/1b3041868d41f5f1a800e4125558233f6d19c2
Due: none

Update notes for submitted changes
  5c/82f10241194c939dcae8a6a61cadcde24715ff
Due: none

Remove oslo-metrics from under-review tag
  tags/under-review.yml
  tags/wallaby-uc.yml
  tags/wallaby.yml
Due: none

Update notes for submitted changes
  d2/b5afb566e2ed227ae43fc160ea9391e2b1763b
Due: none

Bump ansible 2.9.16
  buildsys-tags/cloud8-openstack-wallaby-testing.yml
Due: none

Bump rdoinfo wallaby-uc tags to latest upper-constraints
  tags/wallaby-uc.yml
Due: none

WIP: Bump tempest to 26.0.0 in Train
  tags/train.yml
Due: distgit-tripleo-train-testing-centos-8-undercloud-containers

WIP: Bump tempest to 26.0.0 in Ussuri
  tags/ussuri.yml
Due: distgit-tripleo-ussuri-testing-centos-8-undercloud-containers

WIP: Bump tempest to 26.0.0 in Victoria
  tags/victoria.yml
Due: distgit-tripleo-victoria-testing-centos-8-undercloud-containers

WIP: Bump tempest to 26.0.0 in Ussuri
  .zuul.yaml
  tags/ussuri.yml
Due: distgit-tripleo-ussuri-testing-centos-8-undercloud-containers

WIP: Bump tempest to 26.0.0 in Victoria
  .zuul.yaml
  tags/victoria.yml
Due: distgit-tripleo-victoria-testing-centos-8-undercloud-containers

WIP: Bump tempest to 26.0.0 in Train
  .zuul.yaml
  tags/train.yml
Due: distgit-tripleo-train-testing-centos-8-undercloud-containers

Bump tempest to 26.0.0 in Train
  tags/train.yml
Due: distgit-tripleo-train-testing-centos-8-undercloud-containers

Update notes for submitted changes
  3d/765b7b1a5beadc1bf9d7abf9fd686a0b2dc762
Due: none

Update patch set 5
  8179f3ffd255f227ad2e654e855f16af06e765d9
Due: none

Add missing checks for verify.py
  test/test_verify.py
Due: none

Update notes for submitted changes
  fe/bbbf81aa4ee424089554c28ae5dc476451e12d
Due: none

Path conditions:
  distgit-tripleo-victoria-testing-centos-8-undercloud-containers: any of: ^tags/victoria.yml$
  distgit-tripleo-ussuri-testing-centos-8-undercloud-containers: any of: ^tags/ussuri.yml$
  distgit-tripleo-train-testing-centos-8-undercloud-containers: any of: ^tags/train.yml$
