Repository redhat-openstack/rdoinfo: changes, and which Zuul jobs are due for each by the changed paths.
All: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria, distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria:
  dependencies:
  - rdoinfo-DLRN-check-centos8
  voting: false

distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri:
  dependencies:
  - rdoinfo-DLRN-check-centos8
  voting: false

Bump tempest to 26.1.0 in Ussuri
  tags/ussuri.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

Update notes for submitted changes
  80/b73b149cb281aedb7db468b21002e4b27d82df
Due: none

Promote CBS tags update for train-8-testing
  buildsys-tags/cloud8-openstack-train-testing.yml
Due: none

Update notes for submitted changes
  04/6966292dc4d9ec7f40514e95c3039715ca421a
Due: none

Bump cinder-tempest-plugin to 1.4.0 (victoria, ussuri, train)
  tags/train.yml
  tags/ussuri.yml
  tags/victoria.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria, distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

Bump barbican-tempest-plugin to 1.2.1 in V and U
  tags/ussuri.yml
  tags/victoria.yml
Due: distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria, distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri

Provide a correct upstream URL for Glean
  rdo.yml
Due: none

Update notes for submitted changes
  18/cdd691474b30be9cd7470057de4078f730f3cb
Due: none

Path conditions:
  distgit-tripleo-master-testing-centos-8-standalone-scenario002-victoria: any of: ^tags/victoria.yml$
  distgit-tripleo-master-testing-centos-8-standalone-scenario002-ussuri: any of: ^tags/ussuri.yml$
